{% extends 'base.html' %}

{% block title %}
Location API
{% endblock %}


{% block container %}
<div class="container">
<div class="jumbotron" style="background-color:white;color:Black;margin-top:5px;height:500px;">
        <h2 class="display-3" style="text-align:center; fo\nt-weight:800">Welcome to Location Address Found
            Application </h2>
        <hr class="my-2" style="color:black;">

        <div style="text-align:center">
            <form class="form-inline my-2 my-lg-0 " method="post">
                {% csrf_token %}
                <input type="text" class="form-control align-center"
                       style="width:75%; text-align:center;background-color:black;color:white;font-weight:800;border:2px solid red "
                       placeholder="Enter The Location Address" id="search" name="search" aria-label="Recipient's username"
                       aria-describedby="basic-addon2" required/>
                <br>
                <input type="submit" id="submit" class="btn btn-md"
                       style="width:150px;color:white;background:black;margin:3px;font-weight:800;">
            </form>
        </div>
        <div style="margin:10px">
            {% if address %}
            <p>Your Selected Location Is : <span style="font-weight:800; font-style:italic">{{address}}</span></p>
            <p>Your Street Address & Name: <span style="font-weight:800; font-style:italic">{{street}}</span></p>
            <p>Latitude and Longitude: <span style="font-weight:800; font-style:italic">({{latitude}}{% if latitude %}, {% else%} {% endif %}{{longitude}})</span>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
